# Rider 專用
.idea/
*.iml
out/

# Godot 專用
.import/
*.import
export_presets.cfg
*.log
*.tmp

# 一般 C# 專案
bin/
obj/
*.csproj.user
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
*.cache

# Rider 設定檔 (如果需要共享，則移除這行)
.idea/

# 特定操作系統檔案
.DS_Store
Thumbs.db
desktop.ini

# NuGet Packages
packages/
*.nupkg
*.snupkg
*.nuspec
project.lock.json
project.fragment.lock.json

# 記錄的其他 IDE 或工具
*.bak
*.tmp
*.swp
*.lock
*.cfg
*.md5
*.sample
*.ctex
*.bin

# other ide
.godot/editor/*
